.cell{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.cell.shortest{
    background-color: #add8e6;
    content: ".";
}

.cell.visited{
    background-color: #7492E3;

}

.cell.empty{
    background-color: #dcdad9;
}

.cell.wall{
    background-color: black;
}

.cell.start{
    background-color: #11E47B;
}

.cell.end{
    background-color: red;
}

.center-table{
    display: flex;
    justify-content: center;
}

.center-table td{
    padding: 0;
}

.input-hidden{
    display: none;
}

button.startbutton{
    width: 50%;
    background-color: #0AC041;
    border-radius: 5px;
    border: none;
}

// button.directional-button{
//    color: red;
//    height: 30px;
//    width: 30px;
// }

.column{
    padding-left: 15px;
    float: left;
    width: 33.33%;
}
