.cell{
    width: 20px;
    height: 20px;
}

.cell.visited{
    background-color: blue;
}

.cell.empty{
    background-color: #dcdad9;
}

.cell.wall{
    background-color: black;
}

.cell.start{
    background-color: green;
}

.cell.end{
    background-color: red;
}

.center-table{
    display: flex;
    justify-content: center;
}

.input-hidden{
    display: none;
}

button.directional-button{
    color: red;
    height: 30px;
    width: 30px;
}