.cellform-form{
    padding-left: 15px;
}

.cellform-table{
    width: 50%;
}

.cellform-table input{
    width: 50px;
}

.cellform-table td{
    width: 25%;
}

.cellform-btn{
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}
