.cellform-table{
    width: 50%;
}

.cellform-table input{
    width: 50px;
}

.cellform-table td{
    width: 25%;
}

.cellform-btn{
    color: darkgreen;
    font-weight: bold;
    background-color: #0AC041;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}
