.img-skeleton{
    margin: 20px;
    width: 600px;
    height: 400px;
    background-color: grey;
    background: linear-gradient(90deg, grey, lightgrey);
    animation: skeleton-anim 1.5s infinite alternate;
}

@keyframes skeleton-anim{
    from{
        opacity: 0.25;
    }
    to{
        opacity: 1;
    }
}

.stats-btn{
    display: inline-block;
    color: darkgreen;
    font-weight: bold;
    background-color: #0AC041;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 6px #999;
}

.stats-btn:active{
        transform: translateY(4px);
        box-shadow: 0 2px #666;
}

.stats-btn:hover{
        cursor: pointer;
}