@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.content {
    padding-left: 15px;
}

body {
    margin: 0;
    font-family: Roboto;
}

.flashmessage-center{
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}

.errorMessage {
    visibility: hidden;
    padding: 10px 10px 10px 10px;
    margin: 10px 50% 0px 20px;
    color: red;
    border: 3px solid red;
    font-weight: bold;
}

h4{
    margin-bottom: .5em;
}

button[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.1);
}
