<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cellform.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<title>{% block title %}Python Playground{% endblock %} </title>
<nav class="navbar">
    <ul>
        <a href="{{ url_for('main.index') }}"><li>Home</li></a>
        <a href="{{ url_for('main.display_cell_form') }}"><li>Pathfinding</li></a>
        <a href="{{ url_for('contact.show_contact_page') }}"><li>Contact</li></a>
    </ul>
</nav>

<section class="content">
{% block content %} {% endblock %}
</section>

</html>
