{% extends 'base.html' %}
{% block content %}

<table>
    <tr>
        <td>
            <b>Telephone: </b>
        </td>
        <td>
            06 - 41 07 94 39
        </td>
    </tr>
    <tr>
        <td>
            <b>LinkedIn:</b>
        </td>
        <td>
            <a href="https://www.linkedin.com/in/jesse-van-mourik/" target="_blank">linkedin.com/in/jesse-van-mourik/</a>
        </td>
    </tr>
    <tr>
        <td>
            <b>E-mail:</b>
        </td>
        <td>
            j_vanmourik@hotmail.com
        </td>
    </tr>
    <tr>
        <td style="padding-right: 8px">
            <b>CV/Résumé:</b>
        </td>
        <td>
            <a href="{{ url_for('static', filename='downloadable.pdf') }}" download>Download CV</a>
        </td>
    </tr>

</table>


{% endblock %}