<!doctype html>
<html lang="en">
<title>{% block title %}{% endblock %} Python Playground</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
<nav>
    <ul class="horizontal">
    <li><a href="{{ url_for('main.display_cell_form') }}">Config cells</a></li>
    <li>dummy1</li>
    <li>dummy2</li>
    </ul>
</nav>

<section class="content">
{% block content %} {% endblock %}
</section>

</html>
