{% extends 'base.html' %}

{% block content %}
<form>
<table class="center-table">
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td>
            {% if cell['comment']=="wall" %}
            <div class="cell wall">
                <input class="input-hidden" type="text" name="{{cell.y}},{{cell.x}}" value="{{cell.y}},{{cell.x}},wall" readonly>
            </div>
            {% elif cell['comment']=="start" %}
            <div class="cell start">
                <input class="input-hidden" type="text" name="{{cell.y}},{{cell.x}}" value="{{cell.y}},{{cell.x}},start" readonly>
            </div>
            {% elif cell['comment']=="visited"%}
            <div class="cell visited">
                <input class="input-hidden" type="text" name="{{cell.y}},{{cell.x}}" value="{{cell.y}},{{cell.x}},visited" readonly>
            </div>
            {% else %}
            <div class="cell empty">
                <input class="input-hidden" type="text" name="{{cell.y}},{{cell.x}}" value="{{cell.y}},{{cell.x}},empty" readonly>
            </div>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<button type="submit" formmethod="post" formaction="{{ url_for('movement.step_right') }}">CLICK</button>
</form>
{% endblock %}