{% extends 'base.html' %}

{% block content %}

<table class="center-table">
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td>
            {% if cell['comment']=="wall" %}
            <div class="cell wall"></div>
            {% elif cell['comment']=="start" %}
            <div class="cell start"></div>
            {% else %}
            <div class="cell empty"></div>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}