{% extends 'base.html' %}

{% block content %}
<form>
<table class="center-table">
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td>
            {% if cell['comment']=="wall" %}
            <div class="cell wall"><input class="input-hidden" type="text" name="test" value="{{cell.x}},{{cell.y}}" readonly ></input></div>
            {% elif cell['comment']=="start" %}
            <div class="cell start"></div>
            {% elif cell['comment']=="visited"%}
            <div class="cell visited"></div>
            {% else %}
            <div class="cell empty"></div>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<button type="submit" formmethod="post" formaction="message">CLICK</button>
</form>
{% endblock %}