{% extends 'base.html' %}

{% block content %}

<form action="board" method="post">
    <label for="wall1x">Wall #1 X coordinate</label>
    <input type="number" id="wall1x" name="wall1x" value="1">
    <label for="wall1y">Wall #1 Y coordinate</label>
    <input type="number" id="wall1y" name="wall1y" value="2">
    <label for="startx">Start X coordinate</label>
    <input type="number" id="startx" name="startx" value="3">
    <label for="starty">Start Y coordinate</label>
    <input type="number" id="starty" name="starty" value="4">
    <label for="endx">Finish X coordinate</label>
    <input type="number" id="endx" name="endx" value="5">
    <label for="endy">Finish Y coordinate</label>
    <input type="number" id="endy" name="endy" value="6">

    <input type="submit" value="Create cell">
</form>
{% endblock %}